<!DOCTYPE html>
<html>
<head>
  <title>Error</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/layout.css">
</head>
<body>
    <h1>Error</h1>
    <p><%= message %></p>
    <% if (error && error.stack) { %>
      <pre><%= error.stack %></pre>
    <% } %>

</body>
</html>
