<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/layout.css">

</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <% if (user) { %>
          <li><a href="/users/logout">Logout</a></li>
        <% } else { %>
          <li><a href="/users/login">Login</a></li>
          <li><a href="/users/register">Register</a></li>
        <% } %>
      </ul>
    </nav>
  </header>
  <main>
    <h1>Welcome to 空間預約系統</h1>
    <p>Use the navigation to access different parts of the system.</p>
  </main>

</body>
</html>
