<!DOCTYPE html>
<html>
  <head>
    <title><%= typeof title !== 'undefined' ? title : '空間預約系統' %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- body %>
    <script src="/javascripts/main.js"></script>
  </body>
</html>